extends layout

block content
  link(rel="stylesheet" href="/stylesheets/aboutUs.css")

  div(id="usContainer")
    
    h2 Developers:
        h3 Chris Tsang
            ul
                li Awesome programmer
                li Hardworker
                li Loves mom!
                li
                    a(href="https://github.com/ctsang727") Chris's Github
        h3 Jason Li
            ul
                li Hard Worker
                li Best coder in the universe
                li Also loves mom!
                li
                    a(href="https://github.com/itsjongy") Jason's Github
        h3 Luke Hodina
            ul
                li Rad UI programmer
                li Part of the Windy City
                li Da Bears!
                li
                    a(href="https://github.com/lhodina") Luke's Github
        h3 Stan Yee
            ul
                li Old man Stan
                li Silicon Valley (the show)
                li Needs to do grocery shopping
                li
                    a(href="https://github.com/stantm") Stan's Github
