extends layout

block content
  link(rel="stylesheet" href="/stylesheets/aboutUs.css")

  div(id="usContainter")
    h1 Group 10
    h2 Members: 
        h3 Chris Tsang
            ul 
                li Awesome programmer 
                li Hardworker 
                li Loves mom! 
        h3 Jason Li
            ul 
                li Hard Worker 
                li In soCal 
                li Also loves mom!
        h3 Luke Hodina
            ul 
                li Rad UI programmer 
                li Part of the Windy City 
                li Da Bears!
        h3 Stan Yee
            ul 
                li Old man Stan 
                li Silicon Valley (the show)
                li Needs to do grocery shopping 
