extends layout.pug

include utils.pug

block content
    form(action=`/questions/edit/${questionId}` method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        +field("Title", "headline", headline, "textarea") 
        +field("Ask a public question", "content", content, "textarea") 
        button Confirm Edit 

