extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title

  div(class="questions-area") 
    div(id='header')   
      h1  Top Questions
    div(id= 'askQuestion')
      a(id= 'newQuestionButton' href='/questions/new') Ask Question
  each question in questions
    div(class="question")
      div(id='inner-question-bullets')
        p= 'filler'
      div(id='inner-question-headline')
        a(href=`/questions/${question.id}`)= question.headline
      div(id='inner-question-user')
        

        //- p= question.headline
          //- if question.picture
          //-   img(src = `${question.picture}`)

      //- still need button/a-tag for 'Ask Question'
