doctype html
html
  head
      block head
        title="Spell Overflow"
        //-script(src="https://kit.fontawesome.com/5b77522559.js" crossorigin="anonymous")
        link(rel= 'stylesheet' href='/stylesheets/reset.css')
        link(rel= 'stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
  body
  div(id= 'navbarDiv')
    //- nav(id='navbar')
    ul(id= 'navbarUl') 
      //- li(id= 'navbarLi')
      //-   a(href='/')
      //-    img(src='https://cdn-icons-png.flaticon.com/512/12/12365.png')   
      li(id= 'navbarLi')
        a(href='/') Spell Overflow 
        
      //- li(id= 'navbarLi') 
      //-   a(href='/questions/new') New Question 
      li(id= 'navbarLi') 
        a(href='/users/aboutus') About Us 
      if locals.authenticated
        li(id= 'navbarLi')
      li(id= 'navbarLi') 
        a(href='/questions') All Questions 
      //- li(id= 'search') 
      //-   input(id='searchBar' type='text' placeholder= 'Search')
      if !locals.authenticated
        li(id= 'navbarLi')
          a(id= 'logInButton' href='/users/login') Log In 
        li(id= 'navbarLi') 
          a(id = 'signUpButton' href='/users/signup') Sign Up
      else 
        li(id= 'navbarLi')
          form(action='/users/logout' method='post')
            button(id= 'logOutButton') Log Out

  //- div(id= 'welcomeText')     
  //-   if locals.authenticated
  //-     h1  Top Questions
  //-     div(id= 'askQuestion')
  //-       a(id= 'newQuestionButton' href='/questions/new') Ask Question
    
    
  //- else
  //-   ul 
  //-     li(id= 'navbarLi') 
  //-       a(href='/users/login') Login
  //-     li(id= 'navbarLi')
  //-       a(href='/users/signup') Sign up
  block content

  div(id='footer')

    div(id='tech-used')
      h3 Technologies Used 
      li Javascript
      li Express
      li Pug 
      
    div(id='developer')
      h3 Developer 
      li &copy; Christopher Tsang. All rights reserved.
      li 
        a(href="https://github.com/ctsang727") Github <i class="fa-brands fa-github"></i>
        
      li 
        a(href="https://www.linkedin.com/in/christopher-tsang-827b1b127/") LinkedIn <i class="fa-brands fa-linkedin-in"></i>

    div(id='other-sites')
      h3 Other Sites 
      li 
        a(href="https://hey-stuff-to-do.herokuapp.com/") Hey! You have stuff to do!
      li 
        a(href="https://brilliance-python.herokuapp.com/login") Brilliance
      li
        a(href="https://solo-tyelp.herokuapp.com/") Tyelp
      
  