extends layout.pug

include utils.pug

block content
    form(action=`/questions/${questionId}/answers/new` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("content", "content", "", "textarea")
        button Submit
