extends layout.pug

//- include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/new-question-form.css")

block content
    div
        form(id="question-form" action="/questions/new" method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            div(id="question-headline")
                label Headline
                textarea(id="headline" name="headline")
            div(id="question-textarea")
                label Ask a public question
                textarea(id="public-question" name="content")
            button Post your question
        //- p Testing testing Hotdog Sassafrass Bealzubub Coniferous
