extends layout

block content
  link(rel="stylesheet" href="/stylesheets/notfound.css")
  div(id='notFound')
    div(id='inner-notFound')
      div(id='right')
        h1 Page Not Found
        h3 We're sorry, we couldn't find the page you requested.
        p Back to 
          a(href = '/') home

