
div.questions-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 75px;
  }

  #header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555555;
    font-weight: bold;
  }


h1 {
    color: #555555;
    
}

h2 {
    font-size: 24px;
    color: black;
}

a {
    color: hsl(206deg 100% 40%);
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
}

img {
    max-height: 100px;
    max-width: 175px;
}

.questions-area {
    display: flex;
    justify-content: center;
}

.question {
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    /* margin: 20px 20px; */
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    /* padding:1%; */

}

#inner-question-bullets{
    display: flex;
    flex-direction: column;
    margin:0;
    
}
#inner-question-headline{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 3%;
    
}



