#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
   background-color: hsl(180deg 8% 97%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#form-container div{
    margin-left: 0;
}

#form-inner-container{
    background-color: white;
    padding: 100px;
    border: solid 1px black;
    border-radius: 10px;
}

#form-inner-container h1{
    margin-top: 0;
}

#cancel-button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(206deg 100% 52%);
    border-radius: 5px;
    border: 1px solid hsl(205deg 41% 63%);
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 10);
    font-size: 13px;
    text-decoration: none;
    color:white;
    margin-left:0;

    width: 100%;
  }
  
  #cancel-button:hover {
    background-color: hsl(205deg 47% 42%);
    cursor: pointer;

  }

  #cancel-link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(210deg 8% 20%);
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 10);
    font-size: 13px;
    text-decoration: none;
    color:white;
    margin-left:0;
    padding:10px;
    margin-bottom: 10px;
    width: 30%;
    height:100%;
    margin-right: auto;
    margin-bottom: auto;
  }

  #demo-button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(206deg 100% 52%);
    border-radius: 5px;
    border: 1px solid hsl(205deg 41% 63%);
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 10);
    font-size: 13px;
    text-decoration: none;
    color:white;
    margin-left:0;
    padding:10px;
    width: 100%;
  }
  #demo-button:hover{
      cursor: pointer;
      background-color: hsl(205deg 47% 42%);
  }

  #login-buttons{
      display: flex;
      flex-direction: column;

  }
  #sign-up-link{
      margin-top:5%;
  }
  #sign-up-link a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    color:hsl(206deg 100% 52%);
}
  #sign-up-link a:hover{
      text-decoration: underline;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color:hsl(206deg 100% 52%);
  }
  