p {
    /* color: hsl(206deg 100% 40%); */
    color: hsl(206deg 100% 40%);
    font-size: 18px;
}

/* div {
    font-family: 'Courier New', Courier, monospace;
} */

#question-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* color: green; */
    max-width: 30%;
    border: 1px solid lightgray;
}


label {
    color: hsl(206deg 100% 40%);
}

input {
    width: 90%;
}

textarea {
    width: 90%;
    height: 100px;
}

button {
    width: 100px;
}
