div {
    display: flex;
    /* justify-content: center; */
}

p {
    /* color: hsl(206deg 100% 40%); */
    color: hsl(206deg 100% 40%);
    font-size: 18px;
}

/* div {
    font-family: 'Courier New', Courier, monospace;
} */

#question-form {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* color: green; */
    max-width: 70%;
    border: 1px solid lightgray;
}


label {
    color: black;
}

#question-headline {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 95%;
}

#question-textarea {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 95%;
}

#headline {
    width: 95%;
    margin: 5px;
}

#public-question {
    width: 95%;
    height: 200px;
    margin: 5px;
}

button {
    width: 100px;
    background-color: #0a95ff;
    margin: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
}


button:hover {
    background-color: #0774c7;
}
