/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
} */

/* IDK WHAT ANYTHING ABOVE IS FOR BUT EVERYTHING BELOW THIS COMMENT IS ON PURPOSE */

body{
  background-color:hsl(210deg 8% 95%);
  
}

#welcomeText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555555;

}



#navbarDiv{
  width: 100%;
  /* border: 3px red solid; */
  background-color: hsl(180deg 8% 97%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  box-shadow: 01px 1px 0.5px rgb(194, 191, 191);
  
}

#navbarUl {
  /* padding-right: 40px; */
  
  list-style-type: none;
  display: grid;
  /* grid-template-areas: "a b c d e"; */
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#navbarLi > a {
  text-decoration: none;
  padding: 20px;
  background: none;
  color: black;
}

#logOutButton {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'Times New Roman', Times, serif;
  font-size:16px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#newQuestionButton {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: hsl(206deg 100% 52%);
  border-radius: 5px;
  border: 1px solid hsl(205deg 41% 63%);
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 10);
  font-size: 13px;
  text-decoration: none;
  color:white;
  padding:0.8em;
}

#newQuestionButton:hover {
  background-color: hsl(205deg 47% 42%);
}

#searchBar {
  border-color: hsl(210deg 8% 75%);
  background-color: hsl(0deg 0% 100%);
  box-shadow: none;
  color: hsl(210deg 8% 25%);
  border-radius: 3px;
  /* width: 150%; */
  /* grid-area: c; */
  
}
